# --- Terraform ---
.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.*
terraform/.terraform.tfstate.lock.info
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# SSH keys
*.pem
*.pub